@page "/"

<h1>Image recognition</h1>

<main>
    <div class="row">
        <div class="col-lg-6">
            <h2 class="p-4">Insert a image url here</h2>
            <div class="p-4">
                <form action="javascript:void(0);" method="POST" onsubmit="analyzeImage()">
                    <div class="form-group">
                        <label for="imageUrlInput">Image URL</label>
                        <input type="text" class="form-control" id="imageUrlInput" aria-describedby="emailHelp"
                               placeholder="Tilføj url til et billede her">
                        <small id="emailHelp" class="form-text text-muted">
                            Image type must be .jpg or .png
                        </small>
                    </div>
                    <input type="submit" value="Analyze image" class="btn btn-primary">
                </form>
                <div hidden id="spinner"></div>
                <div id="imageDescription"></div>
            </div>
        </div>
        <hr style="width:25%;text-align:left;margin-left:0" />
        <div class="col-lg-6">
            <div id="previewImageContainer"></div>
        </div>
    </div>
</main>
